@charset "UTF-8";

body {
    background-color: rgb(238, 238, 83);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(232, 232, 84);
    background-color: rgb(205, 205, 3);
}
p {
    color: yellow;
    background-color: rgb(247, 247, 43);
}